/* START OF GLOBAL RESET

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  END OF GLOBAL RESET  */

/*  GLOBAL STYLE  */


* {
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Fjalla One';
    text-align: center;
    /*letter-spacing: 0.5px;*/
    font-size: 0.75em;
    color: #1F1F1F;
    background-image: url(../images/layout/body-pattern.jpeg);
}

main {
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0 auto;
    line-height: 1.3em;
}

.main-one-column article {
    padding: 1.5em 0.5em;
}

article, aside {
    background-color: #FFFFFF;
    margin-top: 3px;
    padding: 1.5em 0.5em;
}

section, aside {
    padding: 7px 5px;
}

nav, footer, h1{
    border: 1px solid #BBDEFB;
    background-color: #E3F2FD;
}

footer {
    height: 5em;
    display: flex;
    align-items: center;
}

.borderOrange {
    border-top: 2px solid #FF9933;
}


/*--------- HEADER AND PARAGRAPH STYLE ---------*/

header {
    background-image: url('../images/layout/header.png');
    background-size:     100% 100%;  
    background-repeat:   no-repeat;
    background-position: center top;
    height: 12em;
}

h1 {
    position: absolute;
    top: 1.5em;
    padding: 0.3em 0.3em;
    width: 30%;
    max-width: 350px;
    text-align: right;
    font-size: 160%;
    font-weight: bolder;
}

h2 {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 110%;
    font-weight: bold;
}

.marginTop {
    margin-top: 0.4em;
}

figure img {
    border: 1px solid #CDC9C5;
}

/*-------- HISTORY PAGE ---------*/

dd {
    font-style: italic;
    font-size:85%;
    margin-bottom: 0.3em;
}

/*---------------------NAVIGATION STYLE------------------*/


ul {
    margin: 0 auto;
    width: 80%;
}

nav li {
    border: 1px solid #BBDEFB;
    margin: 0 auto;
    padding: 3px 0;
}

nav a {
    color: inherit;
    font-size: 105%;
    display: block;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: #BBDEFB;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    max-width: 1000px;
}

/*-------------------- ASIDE STYLE ------------------*/


aside img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

#asideText {
    margin: 1em;
}

/*--------------------- ARTICLE AND SECTION STYLE ----------------------*/
.borderTop {
    border-top: 2px solid #BBDEFB;
}

#info-text {        
    padding: 0 0.5em 1em 0.5em;
    text-align: center;
}

/*--------------------- FORM STYLE ----------------------*/

#articleForm {
    display: flex;
}

fieldset {
    margin: 0 auto;
}

legend {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 0.5em;
}

form {
    padding-top: 0.5em;
}

fieldset label, input, textarea, select {
    display: block;
    width: 100%;
}

.button {
    font: inherit;
    padding:3px 0;
    background-color:  #FF9933;
    border-radius: 10px;
    font-size: bolder;
}

/*--------------------- FIGURE STYLE ----------------------*/

#konrad {
    width: 100%;
    max-width: 300px;
    height: auto;   
}


figure img {
    width: 100%;
    max-width: 550px;
    height: auto;   
}



/*--------------------- TABLE STYLE (Desktop first)---------------------*/


table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
    letter-spacing: 1px;
    background: #333; 
    color: white; 
    font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media (max-width:550px){
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
    border: 1px solid #ccc; 
  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Förnamn"; }
	td:nth-of-type(2):before { content: "Efternamn"; }
	td:nth-of-type(3):before { content: "Adress"; }
	td:nth-of-type(4):before { content: "Postnr"; }
	td:nth-of-type(5):before { content: "Postadress"; }
}

/*---------------- MEDIA QUERIES -----------------*/


@media(min-width: 550px){
    
    main {
        width: 80%;
        height: auto;
        text-align: left;
    }
    
    /*-------- INDEX HAMNJOBB --------*/
    
    .hamn-jobb img {
        margin-right: 0.3em;
        margin-bottom: -0.2em;
        float: left;
        width: 10%;
        min-width: 50px;
        height: auto;
    }
    

    
    /*----- ARTICLE AND ASIDE------*/
    
    .main-two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .article-left {
        margin-right: 1em;
        grid-column: 1/ span 3;
    }
    
    .aside-right {
        text-align: center;
        padding: 1.5em;
        grid-column: 4;
    }
    
    aside img {
        margin: 0.1em auto;
        width: 100%;
        min-width: 8em;
        height: auto;
    }
    
     /*------ ENGLISH PAGE ---------*/
    
    .aside-left {
        padding: 1.5em;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    
    .article-right {
        margin-left: 1em;
        grid-column: 2/ span 3;
    }
    


    /*-------- NAV -------*/
    
    nav {
        display: flex;
    }
    
    nav ul {
        width: auto;
    }
    
    nav li {
        float: left;
        padding: 0.5em 1em;
    }
    
    
    main {
        clear: both;
    }
    
    /*------- FORM --------*/
    
    fieldset label, input, textarea, select {
        display: inline-block;
        width: auto;
    }
    
    fieldset {
        padding: 1em;
        border: 2px solid #BBDEFB;
        border-radius: 5px;
        width: 80%;
    }
    
    .formParagraph{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    footer {
        justify-content: center;
    }
    
    
}
